<footer>
  <p class="footer-text">Copyright &copy; <a class="info-link footer-link" target="_blank" href="https://vipinpatidar.netlify.app"> Vipin Patidar</a> <%= new Date().getFullYear() %></p>
  <div class="blog-icons">
    <span class="icon"><ion-icon name="logo-twitter"></ion-icon></span>
    <span class="icon"><ion-icon name="logo-github"></ion-icon></span>
    <span class="icon"><ion-icon name="logo-instagram"></ion-icon></span>
    <span class="icon"><ion-icon name="logo-vimeo"></ion-icon></span>
  </div>

 </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/js/admin.js"></script>

</html>
