<%- include("partials/header.ejs") %>

<div style="text-align: center; margin-top: 10rem; min-height: 80vh">
  <h1 style="text-align: center; font-size: 6rem; color: rgb(241, 58, 58)">
    <%= status %>
  </h1>
  <h2 style="font-size: 2.8rem; color: hotpink; margin-top: -0.4rem">
    <%= message %> :(
  </h2>
</div>

<%- include("partials/footer.ejs") %>
